<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie Home Page</title>
</head>
<body>

    <nav>
        <h1 class="gradient-text">MyMovieApp</h1>

        <!-- Search Bar -->
        <form id="form">
            <div class="inputContainer">
                <input type="text" placeholder="Search" id="search" class="search">
                <img src="./assets/search_icon.png" alt="search-icon" id="search-icon"> 
            </div>
            
           
        </form>

        <ul>
            <li class="beforeLogin" id="login"><a href="/login">Log In </a></li>
            <li class="beforeLogin" id="register"><a href="/register">Sign Up </a></li>

            <li class="login-success"><a href="" id="loggedIn-user"></a></li>
            <!-- <span id="loggedIn-user"></span> -->
            <li class="login-success"><a class="logoutBtn">Log Out</a>  </li>

        </ul>
    </nav>
    <div class="container">
        <div id="myNav" class="overlay">

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          
            <div class="overlay-content" id="overlay-content"></div>
    
          </div>
        <!-- display each movie -->
        <section id="main">
        </section>
    </div>
        
    <script src='/js/jquery.min.js'></script>
    <script src='/js/auth.js'></script>
    <script src='/js/index.js'></script>
</body>
</html>

