<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie Home Page</title>
</head>
<body>
    <h1>The MovieDB API Test</h1>

    <nav>
        
    </nav>
    <form id="form">
            <input type="text" placeholder="Search" id="search" class="search">
        </form>
    <div class="container">
        <section class="movies">

        </section>
    </div>
        
    
   

    <script src='/js/jquery.min.js'></script>
    <script src='/js/index.js'></script>
</body>
</html>