<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/movie.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <a href="/">
            <h1 class="gradient-text">MyMovieApp</h1>
        </a>

        <!-- Search Bar -->
        <form id="form">
            <div class="inputContainer">
                <input type="text" placeholder="Search" id="search" class="search">
                <img src="./assets/search_icon.png" alt="search-icon" id="search-icon">
            </div>


        </form>

        <ul>
            <li class="beforeLogin" id="login"><a href="/login">Log In </a></li>
            <li class="beforeLogin" id="register"><a href="/register">Sign Up </a></li>

            <li class="login-success"><a href="" id="loggedIn-user"></a></li>
            <li class="login-success"><a class="logoutBtn">Log Out</a> </li>

        </ul>
    </nav>
    <div class="container">

        <div class="movie-details">
            <div class="movie-poster"></div>
            <div class="content">
                <h1 class="movie-name">Movie name</h1>
                <p class="genres"></p>
                <h3>Plot</h3>
                <p class="movie-desc"></p>
            </div>

        </div>
        <p class="rating">Ratings: 7/10</p>

        

        <!-- To put user comments here -->
        <div class="comments-container">
            <h2>Comments</h2>
            <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. 
            </div>
        </div>


    </div>


    <script src='/js/jquery.min.js'></script>
    <script src='/js/auth.js'></script>
    <!-- <script src='/js/index.js'></script> -->
    <script src='/js/movie.js'></script>

</body>

</html>