<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profile.css">

    <title>My Profile</title>
</head>

<body>

    <nav>
        <a href="/">
            <h1 class="gradient-text">MyMovieApp</h1>
        </a>

        <!-- Search Bar -->
        <form id="form">
            <div class="inputContainer">
                <input type="text" placeholder="Search" id="search" class="search">
                <img src="./assets/search_icon.png" alt="search-icon" id="search-icon">
            </div>


        </form>

        <ul>
            <li class="beforeLogin" id="login"><a href="/login">Log In </a></li>
            <li class="beforeLogin" id="register"><a href="/register">Sign Up </a></li>

            <div class="dropdown">
                <li class="login-success"><a href="" class="dropbtn" id="loggedIn-user"></a></li>
                <div class="dropdown-content">
                    <a href="/profile">Edit Profile</a>
                    <a href="/favourites">Favourites</a>
                    <a href="/forums">Forums</a>
                </div>
            </div>
            <li class="login-success"><a class="logoutBtn">Log Out</a> </li>

        </ul>
    </nav>
    <h1 class="heading">My Profile</h1>

    <div class="wrapper">
        <div class="options">
            <li class="title" id="option1">Edit Profile</li>
            <li class="title" id="option2">Change Password</li>
 
        </div>
        
        
        <div class="profile-container">
           
            <div class="edit-profile">
                <p>Edit Profile</p>
                <form onsubmit="return updateProfile()" method="post">

                    <br><br>
                    <label for="name">Full Name: </label>
                    <input type="text" id="name" name="name">
                    <br>
                    <label for="gender">Gender: </label>
                    <input type="radio" name="gender" value="male" checked> Male

                    <input type="radio" name="gender" value="female"> Female
                    <br>
                    <label for="dob">BirthDate</label>
                    <input type="date" id="dob" name="dob" >
                    <br>
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email">
                    <br>
                    <input type="submit" value="Update">
                    <br>
                    <input type="hidden" name="email">
                </form>
                <div class="statusMessage"></div>

 
            </div>
 
            <div class="changePassword">
               <form onsubmit="changePassword()">
                    <br>
                     <label for="">New Pasword: </label>
                    <input type="password" name="newPw" id="newPw">
                    <br>
                     <label for="">Confirm New Pasword: </label>
                    <input type="password" name="cmfPw" id="cfmPw">
                    <br>
                    <input type="submit" value="Change Password">
                </form>
                
            </div>
        </div>
    </div>



    <script src='/js/jquery.min.js'></script>
    <script src='/js/auth.js'></script>
    <script src="/js/profile.js"></script>
    <!-- <script src='/js/index.js'></script> -->
</body>

</html>