* {
    box-sizing: border-box;
}

body {
    background-color: #233d4d;
    /* background-color: #14213d; */

    color: white;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#main {
    justify-content: space-around;
    margin: 1em;
    /* float: left; */
}

h3,p {
    width: 185px;
    word-wrap: break-word;
    white-space: normal;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
}